.contact-section {
    max-width: 1100px;
    margin: 40px auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.contact-info {
    flex: 1;
    font-size: 18px;
    line-height: 30px;
        margin-left: 10px;
}

.contact-info h3 {
    color: #e87c0c;
    font-size: 26px;
    margin-bottom: 10px;
}

.office-timing {
    margin-top: 18px;
    padding: 15px;
    background: #f9f4eb;
    border-left: 3px solid #d68a1e;
    border-radius: 8px;
}

.office-timing h4 {
    margin-bottom: 8px;
    color: #b5651d;
    font-size: 20px;
    font-weight: 600;
}

.contact-map {
    flex: 1.5;
}

.contact-map iframe {
    width: 100%;
    height: 550px;   
    border: none;
    border-radius: 10px;
}


/* Responsive */
@media (max-width: 900px) {
    .contact-section {
        flex-direction: column;
    }
}
