.team-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 35px;
    justify-items: center;
}

.team-card {
    width: 280px;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-5px);
}

.card-top {
    height: 210px;
    background: linear-gradient(180deg, #1062d9, #aedaf5);
    display: flex;
    justify-content: center;
    align-items: end;
}

.card-top img {
    width: 200px;
    height: auto;
}

.card-bottom {
    text-align: center;
    padding: 18px 10px;
}

.card-bottom h3 {
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.card-bottom .position {
    color: #0057b1;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.card-bottom .phone {
    font-size: 17px;
    color: #444;
}




/* Section */
.section { width: 90%; margin: 35px auto; background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 8px #ccc; }
.section h2 { margin-top: 0; color: #003f7f; border-bottom: 2px solid #ff9933; padding-bottom: 6px; }
