/* RTI Section */
.info-box-1 {
    background: #ffffff;
    padding: 25px 35px;
    border-radius: 12px;
    border-left: 4px solid #002b5c; /* blue stripe */
    border-top: 3px solid #ff9933; /* orange bar */
    border-right: 4px solid #002b5c; /* blue stripe */
    border-bottom: 3px solid #ff9933; /* orange bar */
    box-shadow: 0px 3px 10px rgba(0,0,0,0.08);
    margin: 25px auto;
    width: 90%;
     font-size: 23px;
}

.info-box-1 h2 {
    color: #002b5c;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 700;
}
.rti-section{
    width:90%;
    margin:40px auto;
    animation: fadeUp 0.8s ease;
}

.rti-title{
    text-align:center;
    font-size:36px;
    font-weight:700;
    margin:40px 0 25px;
    position:relative;
}

.rti-title::after{
    content:'';
    width:120px;
    height:3px;
    /* background:#ff9933; */
    display:block;
    margin:10px auto 0;
    border-radius:5px;
}

/* Table Design */
.rti-table{
    width:100%;
    border-collapse:collapse;
    background:#fff;
    border-radius:14px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,0.12);
    margin-bottom:50px;
    animation: fadeUp 1s ease;
}

/* Header */
.rti-table th{
    background:linear-gradient(90deg,#ff9933,#ffb347);
    color:#000;
    padding:16px;
    font-size:18px;
    font-weight:700;
}

/* Body */
.rti-table td{
    padding:15px;
    font-size:17px;
    border-bottom:1px solid #eee;
}

/* Row Hover Animation */
.rti-table tbody tr{
    transition:all 0.3s ease;
}

.rti-table tbody tr:hover{
    background:#fff7ef;
    transform:scale(1.01);
}

/* Highlight Email & Phone */
.rti-table td:nth-child(5){
    color:#002b5c;
    font-weight:600;
}

.rti-table td:nth-child(6){
    color:#0a7c2f;
    font-weight:600;
}

/* Fade animation */
@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}

/* Mobile */
@media(max-width:768px){
    .rti-title{
        font-size:26px;
    }
    .rti-table{
        font-size:15px;
    }
}
